body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #ff00ff;
  border-radius: 8px;
  padding: 4px 12px;
}

#image {
  width: 500px;
  height: auto;
}

#desc {
  text-align: center;
  margin-bottom: 32px;
}